@charset "UTF-8";
.header h1 {
    color: #4A82B9;
    text-align: center;
}
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    color: #347AC6;
}.museum {
	width: 100%;
	height: 1000px;
	background-image: url(museum.jpg);
	background-position: center bottom;
}
